* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #333;
}

.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  position: relative;
  border-bottom: #ffffff;
}

.site-header .logo {
  position: absolute;
  top: 1vh;
  left: 1.5vw;
  font-size: 20px;
  font-weight: 700;
  background-color: red;
  color: white;
  border-radius: 0.3rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.site-header .logo a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.site-header .logo:active {
  scale: 0.9;
}

.nav-links a {
  margin-left: 2rem;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  transition: color 0.3s ease;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
}

.nav-links a:hover {
  font-weight: 600;
  background-color: white;
  color: black;
  transition: 0.2s ease-in-out;
}
