body {
  color: white;
}

main {
  border: 1px solid white;
  margin: 2.5vh 10vh;
  height: 80vh;
  padding: 2.5rem;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  padding: 0rem 15vw;
}

main a {
  color: white;
  text-shadow: 0px 2px 30px whitesmoke;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 10vh;
  font-size: 12.5px;
  left: 40vw;
}
